.App {
  text-align: center;
  background-color: #e3e8e4;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e3e8e4;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #585a59;
  max-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-loader {
  height: 25vh;
  margin: 130px;
  align-items: center;
  justify-content: center;
  color: #7dc67c;

}

.App-Light {
  margin-top: 6vh;
  margin-bottom: 16vh;
  color: #7dc67c;
}

.data-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.chart {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90vw; */
}

.loader {
  height: 25vh;
  margin: 130px;
  align-items: center;
  justify-content: center;
  color: #7dc67c;
}

.section-title {
  color: #7dc67c;
  margin-top: 20vh;
}

.chart-empty-list-text {
  color: #7dc67c;
  font-style: italic;
  text-align: center;
  font-weight: 300;
}

a:link {
  color: #7dc67c;
  text-decoration: none;
}
a:visited {
  color: #7dc67c;
  text-decoration: none;
}
a:hover {
  color: hotpink;
  text-decoration: none;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
